body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #000000;*/
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-device-width: 400px) {
  body {
    background-image: url('bg-c.jpg');
    background-size: cover;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
